<div class="row">
  <div class="col-md-9 col-12">
    Indicators of CPU performance
  </div>

</div>
<br/>
<div class="row">
  <div class="col-md-6 col-12 marg-xs-10">
    <div class="chart-box-wrapper">
      <div class="row" style="padding:15px;">
        <div class="col-10">{{chartList.cpu}}</div>
        <div class="col-2 text-right">
          <i class="fa fa-expand" (click)="openModal(templateId,chartList.cpu)"></i>
        </div>
      </div>
      <hr/>
      <app-pie-chart *ngIf="cpuChartData" [totalValue]="214" [pieChartData]="cpuChartData"></app-pie-chart>
      <!-- <app-bar-chart [columnChartData]="storageChartData" [type]="'storage'" (selectedBar)="selectedBar($event)"></app-bar-chart> -->
    </div>
  </div>
  <div class="col-md-6 col-12 marg-xs-10">
    <div class="chart-box-wrapper">
      <div class="row" style="padding:15px;">
        <div class="col-10">{{chartList.network}}</div>
        <div class="col-2 text-right">
          <i class="fa fa-expand" (click)="openModal(templateId,chartList.network)"></i>
        </div>
      </div>
      <hr/>
      <!-- <app-pie-chart [totalValue]="214" [pieChartData]="knowledgeBaseData"></app-pie-chart> -->
      <app-bar-chart *ngIf="networkChartData;" [columnChartData]="networkChartData" [type]="'storage'" (selectedBar)="selectedBar($event)"></app-bar-chart>
    </div>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-6 col-12 marg-xs-10">
    <div class="chart-box-wrapper">
      <div class="row" style="padding:15px;">
        <div class="col-10">{{chartList.memory}}</div>
        <div class="col-2 text-right">
          <i class="fa fa-expand" (click)="openModal(templateId,chartList.memory)"></i>
        </div>
      </div>
      <hr/>
      <app-bar-chart [columnChartData]="memoryChartData" [type]="'memory'" (selectedBar)="selectedBar($event)"></app-bar-chart>
    </div>
  </div>
  <div class="col-md-6 col-12 marg-xs-10">
    <div class="chart-box-wrapper">
      <div class="row" style="padding:15px;">
        <div class="col-10">{{chartList.storage}}</div>
        <div class="col-2 text-right">
          <i class="fa fa-expand" (click)="openModal(templateId,chartList.storage)"></i>
        </div>
      </div>
      <hr/>
      <app-bar-chart [columnChartData]="storageChartData" [type]="'storage'" (selectedBar)="selectedBar($event)"></app-bar-chart>
    </div>
  </div>
</div>

<ng-template #templateId let-c="close" let-d="dismiss">
  <div class="chart-detail-popup">
    <div class="modal-header">
      <h3 class="modal-title">
        <i class="fa fa-home fa-lg"></i> / Infrastructure / {{expandedChart}}</h3>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <i class="fa fa-times-circle"></i>
      </button>
    </div>
    <!-- <div class="modal-header">
      <p>Information about graph</p>
    </div> -->
    <div class="modal-body">
      <div class="row" style="padding:15px;">
        <div class="col-10">{{expandedChart}}</div>
        <div class="col-2 text-right">
        </div>
      </div>
      <hr/>
      <div [ngSwitch]="expandedChart">
        <app-pie-chart [totalValue]="214" [pieChartData]="cpuChartData" *ngSwitchCase="chartList.cpu"></app-pie-chart>
        <app-bar-chart [columnChartData]="expandNetworkChartData" [type]="'storage'" (selectedBar)="selectedBar($event)" *ngSwitchCase="chartList.network"></app-bar-chart>
        <app-bar-chart [columnChartData]="memoryExpandedChartData" [type]="'memory'" (selectedBar)="selectedBar($event)" *ngSwitchCase="chartList.memory"></app-bar-chart>
        <app-bar-chart [columnChartData]="storageExpandedChartData" [type]="'storage'" (selectedBar)="selectedBar($event)" *ngSwitchCase="chartList.storage"></app-bar-chart>
      </div>

    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
    </div> -->
  </div>
</ng-template>