
    .modal-lg {
        width: 65% !important;
        max-width: calc(90%);
        background-color:black;
        top:5%;
    }

    .light-blue-backdrop {
        background-color: #22252a;
    }

    .modal-backdrop.show {
        opacity:1;
    }

    .modal-header{
        color:#fff;
        background-color:#22252a;
    }
