<div class="os-container">

<div class="row margin-zero">
        <div (click)="setActive(0)" class="col-md-3 col-12 marg-xs-10 box-height {{checkActive(0)}}">
            <div class="text-box">
                <div class="text-center">
                    <p>{{criticalPatchesData.length}}</p>
                    <span>Critical Patches</span>
                </div>
            </div>
        </div>
        <div (click)="setActive(1)" class="col-md-3 col-12 box-height {{checkActive(1)}}">
            <div class="text-box">
                <div class="text-center">
                    <p>{{moderatePatchesData.length}}</p>
                    <span>Moderate Patches</span>
                </div>
            </div>
        </div>
        <div (click)="setActive(2)" class="col-md-3 col-12 box-height {{checkActive(2)}}">
            <div class="text-box">
                <div class="text-center">
                    <p>{{importantPatchesData.length}}</p>
                    <span>Important Patches</span>
                </div>
            </div>
        </div>
        <div (click)="setActive(3)" class="col-md-3 col-12 box-height {{checkActive(3)}}">
            <div class="text-box">
                <div class="text-center">
                    <p>{{unspecifiedPatchesData.length}}</p>
                    <span>Unspecified Patches</span>
                </div>
            </div>
       </div>
    </div>

    <div [ngSwitch]="count">
        <div *ngSwitchCase="0" class="content-container">
            <patches-accordion [PatchesData]="criticalPatchesData"></patches-accordion>
        </div>

        <div *ngSwitchCase="1" class="content-container">
            <patches-accordion [PatchesData]="moderatePatchesData"></patches-accordion>

        </div>
        <div *ngSwitchCase="2" class="content-container">
            <patches-accordion [PatchesData]="importantPatchesData"></patches-accordion>

        </div>
        <div *ngSwitchCase="3" class="content-container">
            <patches-accordion [PatchesData]="unspecifiedPatchesData"></patches-accordion>

        </div>


    </div>
    <div *ngIf="showLoader" class="loader-container">
        <img src="../../../assets/image/ajax-loader.gif" width="100" class="center">
    </div>

</div>


