<div class="header-bg">
  <!-- <img class="image-logo" src="./assets/image/pwc-logo.png" alt="PWC"> -->
  <ul class="sideNavList pad-zero">
    <li class="active">
      <i class="fa fa-home fa-lg"></i>
      <span>Home</span>
    </li>
    <!-- <li>
      <i class="fa fa-envelope fa-lg"></i>
      <span>Messages</span>
    </li>
    <li>
      <i class="fa fa-comments fa-lg"></i>
      <span>Comments</span>
    </li>
    <li>
      <i class="fa fa-question-circle fa-lg"></i>
      <span>FAQ</span>
    </li>
    <li>
      <i class="fa fa-cog fa-lg"></i>
      <span>Settings</span>
    </li> -->
  </ul>
</div>