.sideNavList li:hover{
    color: #fc0;
    cursor: pointer;
    background: #282b30;
    // border-left: 4px solid #fc0;
}

.sideNavList li {
   // margin: 5px 0;
    padding: 20px 0;
}

.sideNavList li.active {
    color: #fc0;
    background: #282b30;
    border-left: 4px solid #fc0;
}
ul.sideNavList {
    list-style-type: none;
    text-align: center;
}

.sideNavList li i{
    display: block;
}

.sideNavList li span{
    font-size: 10px;
}

// .image-logo {
//     max-width: 100%;
// }