<div class="row">
  <div class="col-md-9 col-12">
    Amazon Web Service Configurations
  </div>
  <!-- <div class="col-md-3 col-12">
      <div ngbDropdown placement="bottom-right" class="d-inline-block select-button">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{selectedResource}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" *ngFor="let resource of resources" (click)="changeResource(resource)">{{resource.viewValue}}</button>
          </div>
      </div>
  </div> -->
</div>
<br/>
<div class="row">
  <div class="col-md-6 col-12 marg-xs-10">
    <div class="chart-box-wrapper">
      <div class="row" style="padding:15px;">
        <div class="col-10">{{chartList.configImageId}}</div>
        <div class="col-2 text-right">
          <i class="fa fa-expand" (click)="openModal(templateId,chartList.configImageId)"></i>
        </div>
      </div>
      <hr/>
      <app-pie-chart [totalValue]="0" [pieChartData]="configImageId"></app-pie-chart>
    </div>
  </div>
  <div class="col-md-6 col-12 marg-xs-10">
    <div class="chart-box-wrapper">
      <div class="row" style="padding:15px;">
        <div class="col-10">{{chartList.deletedOnTermination}}</div>
        <div class="col-2 text-right">
          <i class="fa fa-expand" (click)="openModal(templateId,chartList.deletedOnTermination)"></i>
        </div>
      </div>
      <hr/>
      <app-pie-chart [totalValue]="0" [pieChartData]="deletedOnTermination"></app-pie-chart>
    </div>
  </div>
</div>

<br/>
<div class="row">
  <div class="col-md-6 col-12 marg-xs-10">
    <div class="chart-box-wrapper">
      <div class="row" style="padding:15px;">
        <div class="col-10">{{chartList.resourceType}}</div>
        <div class="col-2 text-right">
          <i class="fa fa-expand" (click)="openModal(templateId,chartList.resourceType)"></i>
        </div>
      </div>
      <hr/>
      <app-pie-chart [totalValue]="0" [pieChartData]="resourceType"></app-pie-chart>
    </div>
  </div>
  <div class="col-md-6 col-12 marg-xs-10">
    <div class="chart-box-wrapper">
      <div class="row" style="padding:15px;">
        <div class="col-10">{{chartList.resourceCreation}}</div>
        <div class="col-2 text-right">
          <i class="fa fa-expand" (click)="openModal(templateId,chartList.resourceCreation)"></i>
        </div>
      </div>
      <hr/>
      <app-bar-chart [columnChartData]="resourceCreation" [type]="'resourceCreation'" (selectedBar)="selectedBar($event)"></app-bar-chart>
    </div>
  </div>
</div>

<ng-template #templateId let-c="close" let-d="dismiss">
  <div class="chart-detail-popup">
    <div class="modal-header">
      <h3 class="modal-title">
        <i class="fa fa-home fa-lg"></i> / AWS Configurations / {{expandedChart}}</h3>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <i class="fa fa-times-circle"></i>
      </button>
    </div>
    <!-- <div class="modal-header">
      <p>Information about graph</p>
    </div> -->
    <div class="modal-body">
      <div class="row" style="padding:15px;">
        <div class="col-10">{{expandedChart}}</div>
        <div class="col-2 text-right">
        </div>
      </div>
      <hr/>
      <div [ngSwitch]="expandedChart">
        <app-pie-chart [totalValue]="0" [pieChartData]="configImageId" *ngSwitchCase="chartList.configImageId"></app-pie-chart>
        <app-pie-chart [totalValue]="0" [pieChartData]="deletedOnTermination" *ngSwitchCase="chartList.deletedOnTermination"></app-pie-chart>
        <app-pie-chart [totalValue]="0" [pieChartData]="resourceType" *ngSwitchCase="chartList.resourceType"></app-pie-chart>
        <app-bar-chart [columnChartData]="expandedResourceCreation" [type]="'resourceCreation'" (selectedBar)="selectedBar($event)" *ngSwitchCase="chartList.resourceCreation"></app-bar-chart>
      </div>
      
    </div>
  </div>
</ng-template>