$primary-bg: #F9F9F9;
$secondary-bg: #FFFFFF;
$primary-color: #000;
$highlight-color: #EB8C00;

.login-container{
    img{
        top: 15px;
        height: 30px;
        width: 35px;
        position: absolute;
        left: 10px;
    }
     
   h1{
    color:$highlight-color; 
    font-weight: 700;
    text-align: center; 
    margin: 40px 0;
   }
   .login-input{
    background: $primary-bg;
     border: none;
    height: 50px;
    color: $primary-color;

}
.form-width{
    width:70%;
    height: 100%;
    margin:auto;
}
.login-box-container{
    width:30%;
    margin: auto;
    background: $secondary-bg;
    padding: 40px 0;
   
    .btn-submit{
        background: $highlight-color;
        color: $secondary-bg;
        font-weight: 700;
        height: 45px;
    }
}
.login-link{
    width: 30%;
    margin: 20px auto;
    .float-right{
        float:right;
    }
    a{
        cursor: pointer;
        color: $highlight-color;
    }
   }
}
.login-input:focus{
    border: 1px solid $secondary-bg;
    box-shadow: none !important;
}



