<div class="box">
    <div class="login-container">
        <img src="./assets/logo.svg" alt="">
        <div><h1>CCN ISO</h1></div>
        
        <div class="login-box-container">
            <form [formGroup]="loginForm" class="form-width" (submit)="navigate()">
                <p>User Login</p>
                <div class="form-group">
                    <label for="email">Email Address:</label>
                    <input type="email" class="form-control login-input" id="email" placeholder="Enter email" formControlName="email">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control login-input" id="pwd" placeholder="Enter password" formControlName="password">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="remember"> Remember me</label>
                </div>
                <button type="submit" [disabled]="!loginForm.valid" class="btn btn-default btn-submit">Login</button>
            </form>

        </div>
        <div class="login-link">
            <a>Create a new account</a>
            <a class="float-right">Forget Password?</a>
        </div>

    </div>
</div>