<div class="header-bg header-wrap col-md-12">
  <div class="row align-items-center">
    <div class="col-half col-sm-1 col-2 pad-zero">
      <img class="image-logo" src="./assets/image/pwc-logo.png" alt="PWC">
    </div>
    <div class="col-11half col-10 pad-zero">
      <div class="col-md-2 col-5 pull-right text-center pad-zero">
        <!-- <button class="user-button">Arun Kumar &nbsp;
          <i class="fa fa-angle-down"></i>
        </button> -->
        <div ngbDropdown placement="bottom-right" class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{username}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item">Profile</button>
              <button class="dropdown-item">Settings</button>
              <button class="dropdown-item">Need help?</button>
              <button class="dropdown-item" (click)="signOut()">Sign Out</button>
            </div>
          </div>
      </div>
      <div class="col-1 pull-right marg6 text-right">
        <i class="fa fa-bell"></i>
      </div>
    </div>
  </div>
</div>