<div class="row">
  <div class="col-md-9 col-12">
    Trending
  </div>
  
</div>
<br/>
<div class="row">
  <div class="col-md-6 col-12 marg-xs-10">
    <div class="chart-box-wrapper">
      <div class="row" style="padding:15px;">
        <div class="col-10">{{chartList.topHostsCpu}}</div>
        <div class="col-2 text-right">
          <i class="fa fa-expand" (click)="openModal(templateId,chartList.topHostsCpu)"></i>
        </div>
      </div>
      <hr/>
      <app-line-chart [lineChartData]="topHostsCpu"></app-line-chart>
    </div>
  </div>
  <div class="col-md-6 col-12 marg-xs-10">
    <div class="chart-box-wrapper">
      <div class="row" style="padding:15px;">
        <div class="col-10">{{chartList.topHostsMemory}}</div>
        <div class="col-2 text-right">
          <i class="fa fa-expand" (click)="openModal(templateId,chartList.topHostsMemory)"></i>
        </div>
      </div>
      <hr/>
      <app-line-chart [lineChartData]="topHostsMemory"></app-line-chart>
    </div>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-6 col-12 marg-xs-10">
    <div class="chart-box-wrapper">
      <div class="row" style="padding:15px;">
        <div class="col-10">{{chartList.topProcessCpu}}</div>
        <div class="col-2 text-right">
          <i class="fa fa-expand" (click)="openModal(templateId,chartList.topProcessCpu)"></i>
        </div>
      </div>
      <hr/>
      <app-line-chart [lineChartData]="topProcessCpu"></app-line-chart>
    </div>
  </div>

  <div class="col-md-6 col-12 marg-xs-10">
    <div class="chart-box-wrapper">
      <div class="row" style="padding:15px;">
        <div class="col-10">{{chartList.topProcessMemory}}</div>
        <div class="col-2 text-right">
          <i class="fa fa-expand" (click)="openModal(templateId,chartList.topProcessMemory)"></i>
        </div>
      </div>
      <hr/>
      <app-line-chart [lineChartData]="topProcessMemory"></app-line-chart>
    </div>
  </div>
</div>

<ng-template #templateId let-c="close" let-d="dismiss">
  <div class="chart-detail-popup">
    <div class="modal-header">
      <h3 class="modal-title">
        <i class="fa fa-home fa-lg"></i> / Trending / {{expandedChart}}</h3>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <i class="fa fa-times-circle"></i>
      </button>
    </div>
    <!-- <div class="modal-header">
      <p>Information about graph</p>
    </div> -->
    <div class="modal-body">
      <div class="row" style="padding:15px;">
        <div class="col-10">{{expandedChart}}</div>
        <div class="col-2 text-right">
        </div>
      </div>
      <hr/>
      <div [ngSwitch]="expandedChart">
          <app-line-chart [lineChartData]="expandedTopHostsCpu" *ngSwitchCase="chartList.topHostsCpu"></app-line-chart>
          <app-line-chart [lineChartData]="expandedTopHostsMemory" *ngSwitchCase="chartList.topHostsMemory"></app-line-chart>
          <app-line-chart [lineChartData]="expandedTopProcessCpu" *ngSwitchCase="chartList.topProcessCpu"></app-line-chart>
          <app-line-chart [lineChartData]="expandedTopProcessMemory" *ngSwitchCase="chartList.topProcessMemory"></app-line-chart>
      </div>
      
    </div>
  </div>
</ng-template>