<div class="row">
  <div class="col-md-9 col-12">
    Audit
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-6 col-12 marg-xs-10">
    <div class="chart-box-wrapper">
      <div class="row" style="padding:15px;">
        <div class="col-10">{{chartList.fileActions}}</div>
        <div class="col-2 text-right">
          <i class="fa fa-expand" (click)="openModal(templateId,chartList.fileActions)"></i>
        </div>
      </div>
      <hr/>
      <app-bar-chart [columnChartData]="fileActions" [type]="'fileActions'" (selectedBar)="selectedBar($event)"></app-bar-chart>
    </div>
  </div>
  <div class="col-md-6 col-12 marg-xs-10">
    <div class="chart-box-wrapper">
      <div class="row" style="padding:15px;">
        <div class="col-10">{{chartList.topCreated}}</div>
        <div class="col-2 text-right">
          <i class="fa fa-expand" (click)="openModal(templateId,chartList.topCreated)"></i>
        </div>
      </div>
      <hr/>
      <app-pie-chart [totalValue]="0" [pieChartData]="topCreated"></app-pie-chart>
    </div>
  </div>
</div>

<br/>
<div class="row">
  <div class="col-md-6 col-12 marg-xs-10">
    <div class="chart-box-wrapper">
      <div class="row" style="padding:15px;">
        <div class="col-10">{{chartList.topDeleted}}</div>
        <div class="col-2 text-right">
          <i class="fa fa-expand" (click)="openModal(templateId,chartList.topDeleted)"></i>
        </div>
      </div>
      <hr/>
      <app-pie-chart [totalValue]="0" [pieChartData]="topDeleted"></app-pie-chart>
    </div>
  </div>
  <div class="col-md-6 col-12 marg-xs-10">
    <div class="chart-box-wrapper">
      <div class="row" style="padding:15px;">
        <div class="col-10">{{chartList.topUpdated}}</div>
        <div class="col-2 text-right">
          <i class="fa fa-expand" (click)="openModal(templateId,chartList.topUpdated)"></i>
        </div>
      </div>
      <hr/>
      <app-pie-chart [totalValue]="0" [pieChartData]="topUpdated"></app-pie-chart>
    </div>
  </div>
</div>

<ng-template #templateId let-c="close" let-d="dismiss">
  <div class="chart-detail-popup">
    <div class="modal-header">
      <h3 class="modal-title">
        <i class="fa fa-home fa-lg"></i> / Audit / {{expandedChart}}</h3>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <i class="fa fa-times-circle"></i>
      </button>
    </div>
    <!-- <div class="modal-header">
      <p>Information about graph</p>
    </div> -->
    <div class="modal-body">
      <div class="row" style="padding:15px;">
        <div class="col-10">{{expandedChart}}</div>
        <div class="col-2 text-right">
        </div>
      </div>
      <hr/>
      <div [ngSwitch]="expandedChart">
          <app-bar-chart [columnChartData]="expandedFileActions" [type]="'resourceCreation'" (selectedBar)="selectedBar($event)" *ngSwitchCase="chartList.fileActions"></app-bar-chart>
        <app-pie-chart [totalValue]="0" [pieChartData]="topCreated" *ngSwitchCase="chartList.topCreated"></app-pie-chart>
        <app-pie-chart [totalValue]="0" [pieChartData]="topDeleted" *ngSwitchCase="chartList.topDeleted"></app-pie-chart>
        <app-pie-chart [totalValue]="0" [pieChartData]="topUpdated" *ngSwitchCase="chartList.topUpdated"></app-pie-chart>
      </div>
    </div>
  </div>
</ng-template>