<!-- <mat-card style="background-color:#2d3035;min-height:250px">
  <mat-card-content> 
<div class="col" style="background-color:#2d3035;color:white;min-height:250px">
  <img src="../../../assets/image/ajax-loader.gif" width="100" class="center" *ngIf="!isChartLoaded">
  <google-chart [data]="columnChartData" (chartSelect)="select($event)" (chartReady)='ready($event)'></google-chart>
</div>
 </mat-card-content>
</mat-card>  -->
<div class="col" style="background-color:#FFFFFF;color:white;min-height:250px">
<div class="col flex-chart" class="chart">
  <img src="../../../assets/image/ajax-loader.gif" width="100" class="center" *ngIf="showLoader">
  <google-chart *ngIf="!isError" [data]="columnChartData" (chartSelect)="select($event)" (chartReady)='ready($event)' (chartError)='error($event)'></google-chart>
  <h6 class="no-data-text" *ngIf="isError">No data found for filter criteria
  </h6>
</div>
</div>