.flex-chart{
    height:400px;
}
.os-container{
box-shadow:0 0 8px 0 #cac9c9;
}
.box-height{
    height: 168px;
    background: #F9F9F9;
    border: 1px solid #EB8C00;
    border-top-color: #E0301E;
    border-bottom-color:#e1e1e1;
    border-left-color:#e1e1e1;
    border-right: none; 
}
.box-height:nth-child(1){
    border-top:3px solid #E0301E;
}
.box-height:nth-child(2){
    border-top:3px solid #EB8C00;
}
.box-height:nth-child(3){
    border-top:3px solid #FFB900;
}
.box-height:nth-child(4){
    border-top:3px solid #993333;
}

.margin-zero{
    margin: 0;
}
.text-box{
    height: 168px;       
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   }
.text-center{
    text-align: center;
    p{
        font-weight: 500;
        font-size: 35px;
    }
    span{
        color: #30343C;
    }
}
.accordion-container{
    // margin-top: 20px;
    border: 1px solid #e2e1e1;
border-top: none;
border-left: none;
border-right: none;
padding: 20px;
background: #fff;
p{
    color: #666666;
}
}
.secure-text{
    a{
        color:#EB8C00;
    }
    p{
        margin-bottom: 0
    }
   }
.patches-active{
    background: #fff;
    border-bottom: none;
}
.show-text{
    margin-top: 52px;
    cursor: pointer;
    }
.content-box{
    background: #faf8f8;
    padding: 15px;
    margin: 15px 0;
    width:100%;
    
    h6{
        color: #EB8C00;
    }

}





