


<div *ngFor="let item of PatchesData;let i =index" class="row accordion-container">
    <div class="col-md-10">
        <div class="secure-text">
            <a href="{{item.ContentUrl}}" target="_blank">
                <b>{{item.Title}}</b>
            </a>
             <p>{{item.Description}}</p> 
        </div>
    </div>
    <div class="col-md-2">
        <div class="show-text">
            <p (click)="toggleAccordion(accordionText(i))">Show More
                <i *ngIf="!accordionValue(i)" class="fa fa-angle-down" aria-hidden="true"></i>
                <i *ngIf="accordionValue(i)" class="fa fa-angle-up" aria-hidden="true"></i>
            </p>
        </div>
    </div>
    <div class="content-box" *ngIf="accordionValue(i)">
        <!-- <h6><b>{{item.Title}}</b></h6> -->
        <!-- <div class="row">
            <div class="col-md-2"><p>Description</div>
             <div class="col-md-10"><p>{{item.Description}}</p></div> -->
        <!-- </div>  -->
        <div class="row">
            <div class="col-md-2"><p>Classification</p></div>
            <div class="col-md-4"><p>{{item.Classification}}</p></div>
            <div class="col-md-2"><p>Content Url</p></div>
            <div class="col-md-4"><p>{{item.ContentUrl}}</p></div>
        </div>
        <div class="row">
            <div class="col-md-2"><p>Vendor</p></div>
            <div class="col-md-4"><p>{{item.Vendor}}</p></div>
            <div class="col-md-2"><p>Release Date</p></div>
            <div class="col-md-4"><p>1284483600.0</p></div>
        </div>
        <div class="row">
            <div class="col-md-2"><p>Language</p></div>
            <div class="col-md-4"><p>{{item.Language}}</p></div>
            <div class="col-md-2"><p>Msrc Number</p></div>
            <div class="col-md-4"><p>{{item.MsrcNumber}}</p></div>
        </div>
        <div class="row">
            <div class="col-md-2"><p>Msrc Severity</p></div>
            <div class="col-md-4"><p>{{item.MsrcSeverity}}</p></div>
            <div class="col-md-2"><p>Product Family</p></div>
            <div class="col-md-4"><p>{{item.ProductFamily}}</p></div>
        </div>
        <div class="row">
            <div class="col-md-2"><p>Id</div>
            <div class="col-md-4"><p>{{item.Id}}</p></div>
            <div class="col-md-2"><p>Product</p></div>
            <div class="col-md-4"><p>{{item.Product}}</p></div>
        </div>
        <div class="row">
            <div class="col-md-2"><p>Kb Number</p></div>
            <div class="col-md-4"><p>{{item.KbNumber}}</p></div>
            <div class="col-md-2"></div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
