.loader{
    position: fixed;
     top: 240px;
     width: 84.5%;
     background: #fff;
    height: 73vh;
    z-index: 1;
     display: flex;
     justify-content: center;
     align-items: center;
}
.margin-zero{
    margin: 0;
}
.click-rgt{
color:#e2371c;
}
.padding{
    padding:0 15px;
}
