<!--<div class="row">
  <div class="col-md-9 col-12">
    Billing informations
  </div>
   <div class="col-md-3 col-12">
        <div ngbDropdown placement="bottom-right" class="d-inline-block select-button">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{selectedResource}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item" *ngFor="let resource of resources" (click)="changeResource(resource)">{{resource.viewValue}}</button>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="row">
  <div class="col-md-6 col-12 marg-xs-10">
    <div class="chart-box-wrapper">
      <div class="row" style="padding:15px;">
        <div class="col-10">{{chartList.ec2InstanceCost}}</div>
        <div class="col-2 text-right">
          <i class="fa fa-expand" (click)="openModal(templateId,chartList.ec2InstanceCost)"></i>
        </div>
      </div>
      <hr/>
      <app-pie-chart [totalValue]="0" [pieChartData]="ec2InstanceCost"></app-pie-chart>
    </div>
  </div>
  <div class="col-md-6 col-12 marg-xs-10">
    <div class="chart-box-wrapper">
      <div class="row" style="padding:15px;">
        <div class="col-10">{{chartList.s3reqCost}}</div>
        <div class="col-2 text-right">
          <i class="fa fa-expand" (click)="openModal(templateId,chartList.s3reqCost)"></i>
        </div>
      </div>
      <hr/>
      <app-bar-chart [columnChartData]="s3reqCost" [type]="'s3reqCost'" (selectedBar)="selectedBar($event)"></app-bar-chart>
    </div>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-6 col-12 marg-xs-10">
    <div class="chart-box-wrapper">
      <div class="row" style="padding:15px;">
        <div class="col-10">{{chartList.separateServiceCost}}</div>
        <div class="col-2 text-right">
          <i class="fa fa-expand" (click)="openModal(templateId,chartList.separateServiceCost)"></i>
        </div>
      </div>
      <hr/>
      <app-bar-chart [columnChartData]="separateServiceCost" [type]="'serviceCost'" (selectedBar)="selectedBar($event)"></app-bar-chart>

    </div>
  </div>
  <div class="col-md-6 col-12 marg-xs-10">
    <div class="chart-box-wrapper">
      <div class="row" style="padding:15px;">
        <div class="col-10">{{chartList.awsAccTotalCost}}</div>
        <div class="col-2 text-right">
          <i class="fa fa-expand" (click)="openModal(templateId,chartList.awsAccTotalCost)"></i>
        </div>
      </div>
      <hr/>
      <app-pie-chart [totalValue]="0" [pieChartData]="awsAcctotalCost"></app-pie-chart>
    </div>
  </div>
</div>-->

<!--BREAK-->

<br/>
<div class="row margin-zero">
  <div class="col-md-12 col-12 marg-xs-10">
    <div class="chart-box-wrapper" style="height:567px;">
      <div class="row margin-zero" style="padding:15px;">
        <div class="col-10">Billing informations</div>
        <div class="col-2 text-right">
        </div>
      </div>
      <hr/>
      <p class="padding">AWS price breakdown with respect to categories and sub-categories.</p>
      <p class="padding">*Click on a category to view its sub-categories and perform right-click to get back to previous level of category.</p>
      <!-- <img src="../../../assets/image/ajax-loader.gif" width="100" class="center *ngIf="showLoader"> -->
      <google-chart [data]="myChart" #fchart *ngIf="!isError" (chartReady)='ready($event)' (chartError)='error($event)'></google-chart>
      <h6 class="no-data-text" *ngIf="isError">No data found for filter criteria</h6>
    </div>
   
   <div  *ngIf="showLoader" class="loader">
      <img src="../../../assets/image/ajax-loader.gif" width="100" class="center">
    </div>
  </div>
 
</div>

<!-- <ng-template #templateId let-c="close" let-d="dismiss">
  <div class="chart-detail-popup">
    <div class="modal-header">
      <h3 class="modal-title">
        <i class="fa fa-home fa-lg"></i> / Financials / {{expandedChart}}</h3>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <i class="fa fa-times-circle"></i>
      </button>
    </div>
   
    <div class="modal-body">
      <div class="row" style="padding:15px;">
        <div class="col-10">{{expandedChart}}</div>
        <div class="col-2 text-right">
        </div>
      </div>
      <hr/>
      <div [ngSwitch]="expandedChart">
        <app-pie-chart [totalValue]="0" [pieChartData]="ec2InstanceCost" *ngSwitchCase="chartList.ec2InstanceCost"></app-pie-chart>
        <app-bar-chart [columnChartData]="s3reqCost" [type]="'s3reqCost'" (selectedBar)="selectedBar($event)" *ngSwitchCase="chartList.s3reqCost"></app-bar-chart>
        <app-bar-chart [columnChartData]="separateServiceCost" [type]="'serviceCost'" (selectedBar)="selectedBar($event)" *ngSwitchCase="chartList.separateServiceCost"></app-bar-chart>
        <app-pie-chart [totalValue]="0" [pieChartData]="awsAcctotalCost" *ngSwitchCase="chartList.awsAccTotalCost"></app-pie-chart>
      </div>
      
    </div>
  </div>
</ng-template> -->