<div class="row">
  <div class="col-md-9 col-12">
    The detailed usage of applications.
  </div>
  <!-- <div class="col-md-3 col-12">
        <div ngbDropdown placement="bottom-right" class="d-inline-block select-button">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{selectedResource}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item" *ngFor="let resource of resources" (click)="changeResource(resource)">{{resource.viewValue}}</button>
            </div>
        </div>
    </div> -->
</div>
<br/>
<div class="row">
  <div class="col-md-6 col-12 marg-xs-10">
    <div class="chart-box-wrapper">
      <div class="row" style="padding:15px;">
        <div class="col-10">{{chartList.cpu}}</div>
        <div class="col-2 text-right">
          <i class="fa fa-expand" (click)="openModal(templateId,chartList.cpu)"></i>
        </div>
      </div>
    </div>
    <hr/>
    <!-- <app-line-chart [lineChartData]="memoryChartData"></app-line-chart> -->
    <app-bar-chart [columnChartData]="cpuUsageData" [type]="'cpuUsage'" (selectedBar)="selectedBar($event)"></app-bar-chart>
  </div>
  <div class="col-md-6 col-12 marg-xs-10">
    <div class="chart-box-wrapper">
      <div class="row" style="padding:15px;">
        <div class="col-10">{{chartList.containerCount}}</div>
        <div class="col-2 text-right">
          <i class="fa fa-expand" (click)="openModal(templateId,chartList.containerCount)"></i>
        </div>
      </div>
    </div>
    <hr/>
    <app-bar-chart [columnChartData]="containerCountData" [type]="'containerCount'" (selectedBar)="selectedBar($event)"></app-bar-chart>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-6 col-12 marg-xs-10">
    <div class="chart-box-wrapper">
      <div class="row" style="padding:15px;">
        <div class="col-10">{{chartList.containerInfo}}</div>
        <div class="col-2 text-right">
          <i class="fa fa-expand" (click)="openModal(templateId,chartList.containerInfo)"></i>
        </div>
      </div>
    </div>
    <hr/>
    <app-pie-chart [totalValue]="0" [pieChartData]="containerInfoData"></app-pie-chart>
  </div>
  <div class="col-md-6 col-12">
    <div class="chart-box-wrapper">
      <div class="row" style="padding:15px;">
        <div class="col-10">{{chartList.memory}}</div>
        <div class="col-2 text-right">
          <i class="fa fa-expand" (click)="openModal(templateId,chartList.memory)"></i>
        </div>
      </div>
    </div>
    <hr/>
    <app-bar-chart [columnChartData]="memoryData" [type]="'memory'" (selectedBar)="selectedBar($event)"></app-bar-chart>
  </div>
</div>


<ng-template #templateId let-c="close" let-d="dismiss">
  <div class="chart-detail-popup">
    <div class="modal-header">
      <h3 class="modal-title">
        <i class="fa fa-home fa-lg"></i> / Application / {{expandedChart}}</h3>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <i class="fa fa-times-circle"></i>
      </button>
    </div>
    <!-- <div class="modal-header">
        <p>Information about graph</p>
      </div> -->
    <div class="modal-body">
      <div class="row" style="padding:15px;">
        <div class="col-10">{{expandedChart}}</div>
        <div class="col-2 text-right">
        </div>
      </div>
      <hr/>
      <div [ngSwitch]="expandedChart">
        <app-bar-chart [columnChartData]="expandedCpuUsageData" [type]="'cpuUsage'" (selectedBar)="selectedBar($event)" *ngSwitchCase="chartList.cpu"></app-bar-chart>
        <app-bar-chart [columnChartData]="expandedContainerCountData" [type]="'containerCount'" (selectedBar)="selectedBar($event)" *ngSwitchCase="chartList.containerCount"></app-bar-chart>
        <app-pie-chart [totalValue]="0" [pieChartData]="containerInfoData" *ngSwitchCase="chartList.containerInfo"></app-pie-chart>
        <app-bar-chart [columnChartData]="expandedMemoryData" [type]="'memory'" (selectedBar)="selectedBar($event)" *ngSwitchCase="chartList.memory"></app-bar-chart>
      </div>
    </div>
    <!-- <hr/> -->
    <!-- <div [ngSwitch]="expandedChart">
      <app-bar-chart [columnChartData]="cpuUsageData" [type]="'cpuUsage'" (selectedBar)="selectedBar($event)" *ngSwitchCase="chartList.cpu"></app-bar-chart>
      <app-bar-chart [columnChartData]="containerCountData" [type]="'containerCount'" (selectedBar)="selectedBar($event)" *ngSwitchCase="chartList.containerCount"></app-bar-chart>
      <app-pie-chart [totalValue]="0" [pieChartData]="containerInfoData" *ngSwitchCase="chartList.containerInfo"></app-pie-chart>
      <app-bar-chart [columnChartData]="memoryData" [type]="'memory'" (selectedBar)="selectedBar($event)" *ngSwitchCase="chartList.memory"></app-bar-chart>
    </div> -->

  </div>

</ng-template>