

.margin-content {
    margin: 2% 4%;
}

.content-header {
    margin: 0 15px;
}

.select-button {
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    width: 100%;
    display:block;
    // padding: 5px 10px;
}

.router-nav {
    // padding: 10px 0;
    padding: 2px 0;
    border-bottom: 1px solid;
}

.router-nav a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 15px;
    line-height: 43px;
}

.router-nav a:hover {
    color: #fc0;
}

.active-link {
    color: #fc0 !important;
    border-bottom: 4px solid #fc0;
}
.dropdown-menu{
    min-width:7rem !important;
    left:0px !important;
    border: 1px solid #000;
}

.dropdown-toggle::after {
    margin-left: 2em !important;
}
