<div class="row mar-zero">

  <div class="col-md-12 pad-zero">
    <app-header-nav></app-header-nav>
  </div>

  <div class="col-md-12 pad-zero">
    <div class="col-half side-nav-stretch">
      <app-side-nav></app-side-nav>
    </div>
    <div class="col-11half">
      <div class="margin-content">
        <div class="row col-12">
          <div class="col-md-2 pull-left pad-zero">
            <h2 style="margin: 0">Dashboard</h2>
          </div>
          <div class="pull-right col-md-10 pad-zero">
            <div class="pull-right col-md-5 marg6">
              <input class="date-pick-input text-center" [(ngModel)]="selectedMoments" [selectMode]="'range'" [owlDateTimeTrigger]="dtPicker3"
                [owlDateTime]="dtPicker3" [disabled]="isDateDisabled">
              <owl-date-time #dtPicker3 (dateTimeInput)="dateTimeInput($event);"></owl-date-time>
            </div>
            <div class="pull-right col-md-2 marg6">
              <!-- <button class="user-button select-button">Account &nbsp;
                <i class="fa fa-angle-down"></i>
              </button> -->
              <div ngbDropdown placement="bottom-right" class="d-inline-block select-button select-account">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{selectedAccount}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button class="dropdown-item" (click)="changeAccount('')">Account</button>
                  <button class="dropdown-item" *ngFor="let account of accounts" (click)="changeAccount(account)">{{account.viewValue}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 marg20 pad-zero">
          <nav class="router-nav">
            <a (click)="disableDate(true)" [routerLink]="['/dashboard/infrastructure']" routerLinkActive="active-link"> Infrastructure</a>
            <a (click)="disableDate()" [routerLink]="['/dashboard/applications']" routerLinkActive="active-link">Applications</a>
            <a (click)="disableDate(true)" [routerLink]="['/dashboard/trending']" routerLinkActive="active-link">Trending</a>
            <a (click)="disableDate()" [routerLink]="['/dashboard/financials']" routerLinkActive="active-link">Financials</a>
            <a (click)="disableDate()" [routerLink]="['/dashboard/config']" routerLinkActive="active-link">AWS Config</a>
               <a (click)="disableDate()" [routerLink]="['/dashboard/audit']" routerLinkActive="active-link">Audit</a>   
            <a (click)="disableDate(true)" [routerLink]="['/dashboard/osPatches']" routerLinkActive="active-link">OS Patches</a>     
             <!-- <a [routerLink]="['/dashboard/audit']" routerLinkActive="active-link">Audit</a> -->
             <!-- <a [routerLink]="['/osPatches']" routerLinkActive="active-link">osPatches</a>   -->
               
          </nav>
          <br/>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

</div>