/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";

$primary-bg: #F9F9F9;
$secondary-bg: #FFFFFF;
$primary-color: #000;
$highlight-color: #EB8C00;

body {
    margin: 0;
    color: $primary-color !important;
    background: $primary-bg !important;
    font-family: sans-serif;
}

.header-bg {
    background: $secondary-bg;
}

.btn{
    width:100%;
}

/* Styles for tab labels */
.mat-tab-label {
    max-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: $primary-color;
    opacity: 1 !important;
    font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
    max-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: $highlight-color;
    opacity: 1 !important;
    font-weight: 700;
}

/* Styles for the ink bar */
.mat-ink-bar {
    background-color: $highlight-color;
}

.mat-tab-label-content {
    min-width: 100% !important;
}

.mat-tab-label-container {
    margin: 15px 15px 30px;
    border-bottom: 1px solid white;
}

.user-button {
    background: none;
}

.gauge_chart_div circle:nth-child(2) {
    fill: $secondary-bg;
    stroke-width: 18px;
    stroke: $secondary-bg;
}

// .gauge_chart_div text {
//     fill: white;
// }

.gauge_chart_div circle:nth-child(3) {
    fill: #a32020;
    stroke: #a32020;

}

.gauge_chart_div path:nth-child(2) {
    fill: $highlight-color;
    stroke: $highlight-color;
    fill-opacity: 1;
    stroke-width: 0;
}

.gauge_chart_div{
    text-align:center;
    margin:0 auto;
}

svg{
    margin:0 15px;
}

.owl-dt-timer {
    height: 6em;
}

.date-pick-input:active, .date-pick-input:focus {
    border: 1px solid $primary-color;
}

.date-pick-input {
    width: 100%;
    background: $primary-bg;
    color: $primary-color;
    border: 1px solid $primary-color;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.owl-dt-container {
    border: 1px solid #636668;
    background: $secondary-bg;
}

.owl-dt-container, .owl-dt-container * {
    color: $primary-color;
}

input.owl-dt-timer-input {
    background: $secondary-bg;
    border: 1px solid $primary-color !important;
}

.owl-dt-calendar-table .owl-dt-calendar-cell {
    color: $primary-color;
}

.owl-dt-container-row {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
    background-color: $highlight-color;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-in-range {
    background: rgba(255, 204, 0, 0.2);
}

.owl-dt-inline-container .owl-dt-calendar, .owl-dt-popup-container .owl-dt-calendar {
    height: 19.5em;
}

.owl-dt-inline-container, .owl-dt-popup-container {
    width: 18em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pad-zero {
    padding: 0 !important;
}

.col-half, .col-9half, .col-1half, .col-11half {
    position: relative;
    min-height: 1px;
    // padding-right: 15px;
    // padding-left: 15px;
}

@media (min-width: 768px) {
    .col-half, .col-9half, .col-11half {
        float: left;
    }
    .col-half {
        max-width: 5.166667% !important;
        width: 5.166667%;
        flex: 0 0 5.166667% !important;
    }
    .col-1half {
        max-width: 13.333333% !important;
        width: 13.333333%;
        flex: 0 0 13.333333% !important;
    }
    .col-9half {
        max-width: 81.499999% !important;
        width: 81.499999%;
        flex: 0 0 81.499999% !important;
    }
    .col-11half {
        max-width: 94.833333% !important;
        width: 94.833333%;
        flex: 0 0 94.333333% !important;
    }

    
    .select-button {
        border: 1px solid $primary-color;
        border-radius: 4px;
        color: $primary-color;
        width: 48%;
        float: right;
        display:block;
    }
}

.btn-outline-primary {
    color: $primary-color !important;
    border: 1px solid $primary-color !important;
    background-color: $secondary-bg !important;
}

/*
.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: $primary-color !important;
    background-color: #282b30 !important;
}
*/

.btn-outline-primary:focus {
    box-shadow: none !important;
}

.dropdown-item {
    color: $primary-color !important;
    background-color: $secondary-bg !important;
    font-size: 13px;
    width:100%;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: $highlight-color !important;
   /* background-color: #282b30 !important;*/
    outline: none;
    cursor: pointer;
}

.dropdown-menu {
    color: $primary-color !important;
    background-color: $secondary-bg !important;
    border: 1px solid rgb(61, 64, 70) !important;
}

.dropdown-menu.show {
    display: block;
    width: 100%;
}

.marg6 {
    margin: 6px 0;
}

.dropdown-toggle::after {
    margin-left: 1em !important;
}

.sideNavList li {
    background-color: $secondary-bg;
    color: $primary-color;
}

.sideNavList li.active {
    background: $primary-bg !important;
    color:$highlight-color;
}

.sideNavList li:hover {
    background: $primary-bg !important;
    color:$highlight-color;
}

@media (max-width: 576px) {
    .sideNavList li {
        float: left;
        width: 20%;
    }
    .sideNavList li.active {
        border-left: 0px !important;
        border-bottom: 4px solid $highlight-color;
    }

    
    .select-button {
        border: 1px solid $primary-color;
        border-radius: 4px;
        color: $primary-color;
        width: 33%;
        float:right;
        display:block;
    }
}

.mar-zero {
    margin: 0 !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: $highlight-color !important;
    background-color: $primary-bg !important;
    border-bottom: 3px solid $highlight-color !important;
    border: 0;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover, .nav-tabs .nav-link {
    border: 0;
    color: white;
}

hr {
    margin-top: 0 !important;
    border-top: 2px solid rgb(185, 185, 185) !important;
}

.goog-tooltip {
    color: $primary-color;
}


.side-nav-stretch {
    min-height: 100%;
    background: $secondary-bg;
}

@media (max-width: 576px) { 
    .side-nav-stretch {
        min-height: auto;
    }
    .marg-xs-10 {
        margin: 10px 0;
    }
}


.marg20 {
    margin: 20px 0;
}

.fa-expand {
    cursor: pointer;
}

svg > g > g:last-child { pointer-events: none }

.chart-detail-popup .modal-title{
    font-size: 1.1rem;
    color: $primary-color;
}

.chart-detail-popup .modal-body {
    background: $secondary-bg;
}

.chart-detail-popup .modal-header, .chart-detail-popup .modal-body {
    border: none !important;
}

.modal-content {
    background-color: $secondary-bg !important;
}

.chart-detail-popup .fa.fa-times-circle {
    color: $primary-color;
}

.chart-detail-popup .modal-header .close {
    outline: none;
}

.modal-header{
    background: $secondary-bg !important;
    color: $primary-color !important;
}
.flex-chart{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    }

    .form-control:focus{
        box-shadow: none !important;
        border:1px solid $secondary-bg;
    }

    .chart-box-wrapper{
        background-color:$secondary-bg;
        color:black;
       
    }

    .chart-box{
        padding:15px;
    }

    .chart{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:$secondary-bg;
        color:black;
        min-height:250px;
        width:100%;
    }

    .imgcntr{
        margin-top:125px;
    }