<!-- <mat-card style="background-color:#2d3035;min-height:250px">
  <mat-card-content> -->
<div class="col" style="background-color:#2d3035;color:white;min-height:250px">
  <table width="100%" cellpadding="10">
    <tr style="background-color:darkred">
      <th>Pattern</th>
      <th>Count</th>
      <th>Accuracy</th>
    </tr>
    <tr *ngFor="let tabledata of tableData">
      <td align="center">{{tabledata.pattern}}</td>
      <td align="center">{{tabledata.count}}</td>
      <td align="center">{{tabledata.accuracy}}%</td>
    </tr>
  </table>
</div>
<!-- </mat-card-content>
</mat-card> -->