<!-- <img src="../../../assets/image/ajax-loader.gif" width="100"> -->
<div class="col flex-chart {{className}}" style="background-color:#FFFFFF;color:white;min-height:250px">
  <div class="col flex-chart" class="chart">
    <!-- <mat-card-content> -->
    <img src="../../../assets/image/ajax-loader.gif" width="100" class="center" *ngIf="!isChartLoaded">
    <google-chart *ngIf="!isError" (chartError)="error($event)" [data]="pieChartData" (chartReady)='ready($event)'></google-chart>
    <h6 class="no-data" *ngIf="isError">No data found for filter criteria </h6>
   
    <!-- </mat-card-content> -->
  </div>
</div>